@font-face {
    font-family: "Inter-Regular";
    src: url("../fonts/Inter-Regular.otf"),
        url("../fonts/Inter-Regular.ttf"),
        url("../fonts/Inter-Regular.woff2") format("woff2")
}

@font-face {
    font-family: "Inter-Light";
    src: url("../fonts/Inter-Light.otf"),
        url("../fonts/Inter-Light.ttf"),
        url("../fonts/Inter-Light.woff2") format("woff2")
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url("../fonts/Inter-SemiBold.otf"),
        url("../fonts/Inter-SemiBold.ttf"),
        url("../fonts/Inter-SemiBold.woff2") format("woff2")
}

@font-face {
    font-family: "Inter-Bold";
    src: url("../fonts/Inter-Bold.otf"),
        url("../fonts/Inter-Bold.ttf"),
        url("../fonts/Inter-Bold.woff2") format("woff2")
}