//View Port & Font Adjustments
$min-font-size: 12px;
$mid-font-size: 14px;
$max-font-size: 18px;
$min-viewport: 1100px;
$mid-viewport: 1280px;
$max-viewport: 1920px;

$inter-regular: "Inter-Regular";
$inter-light: "Inter-Light";
$inter-medium: "Inter-Medium";
$inter-semibold: "Inter-SemiBold";
$inter-bold: "Inter-Bold";

$font-size-small: 0.625rem; // 10px
$font-size-default: 0.75rem; //12px
$font-size-medium: 0.875rem; //14px
$font-size-large: 1rem; //16px
$font-size-xl: 1.37rem; //22px

//for padding, margin
$pix-small: 0.5rem;
$pix-default: 0.75rem;
$pix-medium: 0.875rem;
$pix-large: 1rem;